{% extends 'base.html' %}

{% block content %}
<h1>Device List</h1>
<p>Number of device : {{device_count}}</p>
<p>Number of free device : <a href="function=Free">{{free_count}}</a></p>
<p>Number of booked device : <a href="function=Booked">{{booked_count}}</a></p>
<p>Number of overdue device : <a href="function=overdue">{{ overdue_count }}</a></p>
<form method="POST" action="{% url 'list_all' %}" >
{% csrf_token %}
<label>Search:</label>
  <div class="autocomplete">
    <input type="text" name="search" id ="autocomplete" placeholder="Search...">
    <input class="btn btn-primary" type="submit" value="Search" />
  </div>
 </form>
    <ul>
      <table class = "table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>OStype</th>
            <th>Version</th>
            <th>FromDate</th>
            <th>ToDate</th>
            <!-- <th>Project</th> -->
            <th>Borrower</th>
            <th>Status</th>
            <!--<th>Count</th> -->
        </tr>
        </thead>
      {% for device in devices %}
      <tr>
      {% if user.is_staff %}
      <td><a href="detail/{{device.code}}">{{ device.code }}</a></td>
      {% else %}
      <td>{{ device.code }}</td>
      {% endif %}
       <td>{{device.name}}</td>
       <td>{{device.type}}</td>
       <td>{{device.ostype}}</td>
       <td>{{device.version}}</td>
       {% if device.order__orderstatus == 'Completed' or device.order__orderstatus == 'ORequest' %}
       <td></td>
       <td></td>
       <td></td>
       {% else %}
       <td>{{device.order__fromdate|default_if_none:""}}</td>
       <td>{{ device.order__todate|default_if_none:""}}</td>
       <!-- <td>{{device.order__project__name|default_if_none:""}}</td> -->
       <td>{{ device.order__account__username|default_if_none:""}}</td>
       {% endif %}
       <td>
         {%if device.status == 'Free' %}
         <a href="order/add/{{device.code}}%{{user.username}}">{{ device.status }}</a>
         {% else %}
         {{device.status}}
         {% endif %}
       </td>
       </tr>
    {% endfor %}
		</table>
    </ul>
  <div align="center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="pages=1">1</a></li>
        <li><a href="pages=2">2</a></li>
        <li><a href="pages=3">3</a></li>
        <li><a href="pages=4">4</a></li>
        <li><a href="#">&raquo;</a></li>
</ul>
</div>

<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      });
}
var countries =['sadsad','sadfdsfds','sad'];
countries.push("aloho");
// {% for device in devices %}
//    countries.push({{ device.code }});
//    countries.push({device.name});
// {% endfor %}
autocomplete(document.getElementById("autocomplete"), countries);
</script>
{% endblock %}
