{% extends 'base.html' %}

{% block content %}
{% if error %}
    <div style="alert alert-warning">{{ error }}</div>
    <br />
    <br />
{% endif %}
    <h1>Add Project</h1>
    <form method="POST" action="{% url 'add_project' %}" >
    {% csrf_token %}
    <ul>
    <div class="form-group">
     <label>Project Name:</label>
     <input type="text" class="form-control" name="name">
   </div>
   <div class="form-group">
      <label>Department:</label>
      <select class="form-control" id="department" name ="department">
      {% for de in departments %}
          <option value ={{de.id}}>{{de.name}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group">
       <label>Account:</label>
       <select multiple class="form-control" id="accounts" name ="accounts">
       {% for acc in accounts %}
           <option value ={{acc}}>{{acc}}</option>
       {% endfor %}
       </select>
     </div>
    <input class="btn btn-primary" type="submit" value="Save"/>
    </ul>

  </form>
{% endblock %}
