{% extends 'base.html' %}

{% block content %}
{% if error %}
    <div style="alert alert-warning">{{ error }}</div>
    <br />
    <br />
{% endif %}
{% if user.is_authenticated %}
    <h1>Booking</h1>
    <form method="POST" action="{% url 'order_add'%}">
    {% csrf_token %}
    <ul>
    <div class="form-group">
     <label>Project:</label>
      <select class="form-control" name="project">
          {% for project in projects %}
          <option value="{{project.id}}"	itemLabel="{{project.name}}">{{project.name}}</option>
          {% endfor %}
      </select>
   </div>
   <div class="form-group">
     <label>Username:</label>
     <input type="text" class="form-control" name="username" value="{{user.username}}" readonly>
   </div>
   <div class="form-group">
      <label>Device Code:</label>
      <input type="text" class="form-control" name="devicecode" value="{{device.code}}" readonly>
    </div>
    <div class="form-group">
      <label>From Date:</label>
      <input type="date" class="form-control" name="fromdate">
    </div>
    <div class="form-group">
      <label>To Date:</label>
      <input type="date" class="form-control" name="todate">
    </div>
    <div class="form-group">
        <label>Reason:</label>
        <textarea class="form-control" rows="5" name="reason"></textarea>
      </div>
    </ul>
     <input class="btn btn-primary" type="submit" value="Save" />
  </form>
  {% endif %}
{% endblock %}
